# Ignore custom folder

Materials/

# Ignore obsidian editor

.obsidian/*.

# Ignore NetBeans editor

**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/